#body {
  display: flex;
  flex-direction: column;

  position: relative;

  border-radius: 2px;
  padding: 116px 160px 162px;
  margin-top: 0;
  box-sizing: border-box;

  background: #fff;

  font-family: "Gotham";
  font-weight: 300;
  text-align: center;
}

#form-wrap {
  width: 600px;
  border-radius: 8px;
  border: 2px #e0e0e0 solid;
  padding: 84px 44px;

  background: #fff;
}

h3.prop {
  margin: 0 0 24px;
  font-size: 36px;
}

/*

█
▓█⌇𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙⌇█═⟅ ∽ INPUT FIELDS ∼ ⟆═█⌇𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙⌇█
▓                 ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾                                   */
#login-input {
  width: 280px;
  margin: 0 auto;
  display: grid;
  grid-template: auto auto / auto 10px;
  justify-content: center;
  grid-gap: 0 8px;
}
#login-input label {
  display: block;
  margin: 12px 0 4px 8px;
  text-align: left;
  font-size: 11px;
}
#login-input input {
  width: 220px;
  height: 40px;
  margin-bottom: 32px;
  padding: 7px;
  font-family: "Gotham";
  font-size: 14px;
  font-weight: 400;
}
#login-input div {
  align-self: center;
}

#login-input #user-wrap {
  display: flex;
}
#login-input #user-wrap span:first-child {
  padding-left: 24px;
}
#login-input #user-wrap span:last-child {
  padding-left: 12px;
  color: var(--blue);
}

#login-input i {
  margin-top: 24px;
  color: var(--green);
}
#login-input #pw-wrap + i {
  visibility: hidden;
  font-size: 18px;
}
/*
█ ❖ VALIDATION                                                                   */
#login-input .valid label {
  color: var(--green);
}
#login-input .valid input {
  border-color: var(--green);
}
#login-input .valid + i {
  visibility: visible;
  color: var(--green);
}
#login-input .valid + i:before {
  content: "\f00c";
}
#login-input .invalid label {
  color: var(--red);
}
#login-input .invalid input {
  border-color: var(--red);
}
#login-input .invalid + i {
  visibility: visible;
  color: var(--red);
}
#login-input .invalid + i:before {
  content: "\f00d";
}
/*

█
▓█⌇𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙⌇█═⟅ ∽ FOOTER ∼ ⟆═█⌇𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙⌇█
▓                 ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾                                   */

#login-footer .grid-signin {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  margin: 24px 0;
}
#login-footer button {
  place-self: center;
}
#login-footer span {
  place-self: center start;
  padding: 8px 24px 0;
}
.btn-signin {
  display: block;
  width: 180px;
  height: 36px;
  margin: auto;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1.25px;
}
input[type="checkbox"] {
  margin: 0;
  position: relative;
  top: 1px;
}
.remember-me {
  white-space: nowrap;
}

/*

█
▓█⌇𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙⌇█═⟅ ∽ 3RD PARTY SIGN-IN ∼ ⟆═█⌇𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙⌇█
▓                 ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾                                   */

#login-footer .flex-3rdParty {
  display: flex;
  justify-content: space-evenly;
  padding: 0 40px;
  margin-top: 48px;

  color: #fff;
  font-family: Gotham Narrow;
  font-size: 13.5px;
  font-weight: 500;
}
.flex-3rdParty div {
  padding: 10px 18px 10px 14px;
  display: flex;
  align-items: center;
  border-radius: 2px;
}
#login-footer i {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  font-size: 16px;
}
.flex-3rdParty .facebook {
  background: #455291;
}
.flex-3rdParty .google {
  background: #5d7af2;
}

:host + #buffer {
  height: 200px;
}
