/*

ⸯ                       ༿───────────═🙦 🎕 🙤═───────────᠎༾
█⌇𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙⌇█       🙢  ITEM STYLE  🙠       █⌇𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙⌇█
▓﹊﹊﹊﹊﹊﹊﹊﹊﹊﹊﹊﹊╰────────────⏜⏝⏜⏝⏜⏝⏜────────────╯﹊﹊﹊﹊﹊﹊﹊﹊﹊﹊﹊﹊▓
▓     The Item is used by the Main Menu, dropmenus, context menus, and more.
▓                 ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾

/*
█
▓█═─────══─────═🙦   MENU WRAPPER   🙤═─────══─────═❖
▓                                                                           */
.menu-wrap,
.submenu-wrap,
.-shadow {
  /* filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.78)); */
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.28);
  padding: 8px 0;
  background: var(--IUP-Color-BG);
  width: max-content;
}

.submenu-wrap {
  display: none;
  position: absolute;
  top: -10px;
  left: 100%;
  /* width: min-content; */
}
.-overflow-right {
  left: unset;
  right: 100%;
}

.Item:hover .submenu-wrap {
  display: inline-block;
}

/*
█
▓█═─────══─────═🙦   MENU ITEM   🙤═─────══─────═❖
▓                                                                           */
.Item {
  --item-size: 13px;
  --item-pad-title: 17px;
  --item-pad-icon: 27px;
  --item-y-offset: 54%;
  --item-expand: 20px;
  position: relative;
  height: calc(var(--item-size) * 2);

  border: 1px rgba(0, 0, 0, 0) solid;
  border-width: 1px 0;
  outline-width: 0;
  outline-color: rgba(var(--IUP-Color-FG), 0);
  outline-style: solid;
  padding: 0 12px;

  color: var(--IUP-Color-FG);
  background: rgba(var(--IUP-Color-FG), 0);
  user-select: none;

  display: flex;
  align-items: center;
  gap: 6px;
  /* transition: background var(--iup-trans-dbl) ease-out,
    outline-width var(--iup-trans-dbl) ease-out,
    outline-color var(--iup-trans-dbl) ease-out; */
}
.UI-XS .Item {
  --item-size: 11px;
}
.UI-SM .Item {
  --item-size: 11px;
}
.UI-MD .Item {
  --item-size: 12.5px;
}
.UI-LG .Item {
  --item-size: 14px;
}

.-no-icons > .Item.-no-icon {
  --item-pad-title: 0px;
}

/*
█
▓█═─────══─────═🙦   TITLE & ICON   🙤═─────══─────═❖
▓                                                                           */
.Item__Title,
.Item__Icon {
  /* padding: 4px 4px 2px; */
  /* alignment-baseline: middle;
  dominant-baseline: middle; */
  font-size: var(--item-size);
  font-weight: 300;
  /* display: inline-block; */
}

.Item__Icon {
  font-family: "Font Awesome 6 Pro";
}

.Item__Icon.-text {
  font-family: "Font Awesome 6 Pro";
  text-anchor: end;
}
.Item__Icon.-image {
  --icon-x: calc(var(--item-pad-icon) - calc(var(--item-size) / 2));
  --icon-y: 7px;
  width: var(--item-size);
}

.Item__Icon.-pos1 {
  margin-right: 3px;
}
.Item__Icon.-pos2 {
  margin-left: auto;
}

.Item__Icon.-animate-spin {
  --item-y-offset: 48% !important;
  animation-name: -animate-spin;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.Item__Icon.-animate-flash {
  animation-name: -animate-flash;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}
@keyframes -animate-spin {
  from {
    transform: translate(var(--icon-x), var(--icon-y)) rotate(0deg);
  }
  to {
    transform: translate(var(--icon-x), var(--icon-y)) rotate(360deg);
  }
}
@keyframes -animate-flash {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.08;
  }
}

/*



█
▓█⌇𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙⌇█═⟅ ∽ HOVER ITEM ∼ ⟆═█⌇𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙⌇█
▓                ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
▓  ◇ Apply mask to gradient fill node.
▓  ◇ Show fill node & hide default nodes.
▓                                                                                */
.Item:hover:not(.-Is-Disabled) {
  cursor: pointer;
}
.Item:hover:not(.-Is-Disabled):not(.-no-hover),
.Item.-inputActive {
  /* border-color: var(--IUP-Color-FG); */
  outline-width: 3px;
  outline-color: var(--IUP-Color-FG);

  background: var(--IUP-Color-FG);
  color: var(--IUP-Color-BG);
  cursor: pointer;
}

.Item__DropmenuBox {
  fill: transparent;
}

.Item:not(.-Is-Disabled):not(.-no-hover) > .Item__SVG > .Item__Icon.-iconPos1 {
  transform: translateX(0);
  transition: transform var(--iup-trans-dbl) ease-out;
}
.Item:hover:not(.-Is-Disabled):not(.-no-hover)
  > .Item__SVG
  > .Item__Icon.-iconPos1 {
  transform: translateX(9px);
}

.Item.-no-hover > .Item__SVG > .Item__Icon.-contentBtn {
  font-weight: 400;
}

/*



█
▓█⌇𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙⌇█═⟅ ∽ ITEM STATES ∼ ⟆═█⌇𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙⌇█
▓                    Disabled, Hidden, 🚧Warning, Marked.🚧
▓                ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾                                   */
.-Is-Disabled {
  text-decoration: line-through;
  filter: blur(var(--hide-blur-mid));
  opacity: var(--hide-opacity-mid);
  cursor: initial;
}

.-is-hidden {
  display: none;
}

/*



█
▓█⌇𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙⌇█═⟅ ∽ OTHER FEATURES ∼ ⟆═█⌇𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙⌇█
▓                ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
▓  ◇ Input
▓  ◇ Dropmenu
▓                                                                                */

/*

█ ❖ INPUT ⬥ INNER                                                                   */
.Item__Input.-inner {
  position: absolute !important;
  top: 0;
  left: 0;

  width: 0;
  /* height: 84%; */

  background: var(--IUP-Color-BG);
  overflow: hidden;
  transition: width var(--iup-trans) var(--iup-trans-type);
}
.Item.-inputActive > .Item__SVG {
  visibility: hidden;
}
.Item.-inputActive > .Item__Input.-inner {
  width: 84%;
  overflow: visible;
}

.Item__Input.-inner > .iuInput {
  --InputText-width: 100%;
  width: 100%;
}

.Item__Input.-inner .InputText__text {
  border: 0;
  outline: 0;
}

/*

█ ❖ INPUT ⬥ OUTER                                                                   */
.Item__Input.-outer {
  position: absolute !important;
  top: -3px;
  right: -180px;
  z-index: -1;

  width: 180px;
  height: calc(var(--item-size) * 2);
  padding: 3px 0;
  overflow: hidden;
}

.Item__Input.-outer > .iuInput {
  position: absolute;
  left: -100%;
  border: 12px #fff solid;
  background: #fff;
  transition: left var(--iup-trans-dbl) ease-out;
}

.Item:hover > .Item__Input.-outer .iuInput {
  left: 0;
}

/*🚧🚧🚧🚧🚧🚧*/
.item__dropmenu,
.Item__DropmenuBox {
  transform: translate(88%, 2px);
}
