#Body {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: right;
  align-items: end;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.5); */
}
.Layout-Notification {
  position: relative;
  width: 320px;
  min-height: 160px;
  height: fit-content;
  margin: 16px;
}

.notification-head {
  display: flex;
  justify-content: center;
  border-bottom: 1px var(--IUP-Color-FG) solid;
  padding: 6px 10px;
  font-weight: bold;
}

.notification-close {
  position: absolute;
  /* top: 6px; */
  right: 10px;
  background: none;
  border: none;
  color: var(--IUP-Color-FG);
  font-size: 18px;
  cursor: pointer;
}

.notification-body {
  padding: 8px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
