/*
ⸯ                       ༿───────────═🙦 🎕 🙤═───────────᠎༾
█⌇𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙⌇█    🙢  PASSWORD FEATURES  🙠   █⌇𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙⌇█
▓﹊﹊﹊﹊﹊﹊﹊﹊﹊﹊﹊﹊╰────────────⏜⏝⏜⏝⏜⏝⏜────────────╯﹊﹊﹊﹊﹊﹊﹊﹊﹊﹊﹊﹊▓
▓                                                                                    */
/*
█ ❖ WRAPPER                                                                   */
#body {
  --up-icon-padding: 8px;
  position: absolute;
  z-index: 2147483500;

  display: inline-flex;
  justify-content: flex-end;
  align-items: center;

  padding-right: 4px !important;

  color: #fff;
  pointer-events: none;
}
.btn-reveal,
.btn-caps {
  opacity: 0;
  transform: scale(1.1); /* translateY(-5px) */
}
.btn-reveal.is-shown,
.btn-caps.is-shown {
  transform: translateY(0) scale(1);
  opacity: 0.5;
  transition: transform var(--iup-trans-dbl), opacity var(--iup-trans-dbl);
}
/*

█ ❖ ICON: REVEAL PASSWORD                                                                   */
.btn-reveal {
  display: flex;
  align-items: center;
  padding-right: var(--up-icon-padding);

  cursor: pointer;
  pointer-events: auto;
}
/*

█ ❖ ICON: CAPS LOCK                                                                   */
.btn-caps {
  height: 14px;
}
.btn-caps object {
  padding-right: var(--up-icon-padding);
  line-height: 0;
  height: 14px;
}
