<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>🙠 𝐈𝐔𝐏 🎕 𝐏𝐑𝐄𝐕𝐈𝐄𝐖 🙢</title>
    <!-- <link rel="stylesheet" href="/lib/typeface-style.css" />
    <link rel="stylesheet" href="preview-style.css" /> -->
  </head>
  <body>
    <div id="page">
      <!-- Menu -->
      <nav id="menu">
        <ul>
          <li>
            <a href="#mediainfojs" class="active pagelink">mediainfo.js</a>
          </li>
          <li><a href="#about" class="pagelink">about</a></li>
        </ul>
        <hr />
      </nav>

      <!-- mediainfo.js -->
      <div id="mediainfojs" class="page active">
        <div id="dropzone" class="big center">
          <button class="cancel hidden"><i class="fa fa-times"></i></button>
          <div id="loader" class="center">
            <i class="fa fa-spinner fa-spin fa-lg"></i><br />
            Loading…
          </div>
          <div id="dropcontrols" class="hidden">
            <div id="dropcontrolstext">
              <i class="fa fa-lg fa-hand-rock-o"></i> Drop a media file here!<br />
              <span class="small">(or click)</span>
            </div>
            <input id="fileinput" type="file" />
          </div>
          <div id="status" class="hidden">
            <i class="fa fa-cog fa-lg"></i> Analyzing file…
          </div>
        </div>
        <p>
          <strong>mediainfo.js</strong> shows information about media files. It
          works with <code>.avi</code>, <code>.mkv</code>, <code>.mp3</code> and
          <a href="https://mediaarea.net/nn/MediaInfo"> many more…</a>
        </p>
        <p>
          <em
            ><i class="fa fa-lg fa-info-circle fa-padded blue"></i> No data is
            leaving your computer. All analyzing is done in the browser!</em
          >
        </p>
        <div id="results" class="hidden">
          <h2><i class="fa fa-list"></i> results</h2>
          <div id="resultscontainer"></div>
        </div>
      </div>
    </div>
    <!-- templates -->
    <script type="text/template" id="template-results">
      <% _.each(results, function(result) { %>
        <div class="result">
          <div class="result-head">
            <div class="pull-right">
              <button title="Remove from list" class="remove"><i class="fa fa-lg fa-times"></i></button>
            </div>
            <button title="Un/collapse" class="toggle-collapse"><i class="fa fa-lg fa-caret-right"></i></button>
            <span class="filename"><%= result.fileName %></span>
          </div>
          <div class="result-body">
            <table><tbody>
              <% var tracks; if (_.isArray(result.File.track)) { tracks = result.File.track; } else { tracks = [result.File.track] } %>
              <% _.each(tracks, function(track) { %>
                <tr class="header"><td colspan="2"><h2>
                  <i class="fa fa-file-o fa-file-<%= (track['_type'] || '').toLowerCase() %>-o"></i> <%= track['_type'] || '' %>
                </h2></td></tr>
                <% _.each(_.without(_.keys(track), '_type'), function(key) { %>
                  <tr><td><%= key.replace(/_/g, ' ') %></td><td><%= track[key] %></td></tr>
                <% }) %>
              <% }) %>
            </tbody></table>
          </div>
        </div>
      <% }) %>
    </script>
    <!-- libs -->
    <script src="underscore-min.js"></script>
    <script src="jquery-2.2.0.min.js"></script>
    <script src="jquery.dragster.js"></script>
    <script src="xml2json.js"></script>
    <script src="mediainfo.js"></script>
    <script src="mediainfopage.js"></script>
  </body>
</html>
