/*




ⸯ                       ༿───────────═🙦 🎕 🙤═───────────᠎༾
█⌇𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙⌇█       🙢  MENU ITEMS  🙠       █⌇𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙⌇█
▓﹊﹊﹊﹊﹊﹊﹊﹊﹊﹊﹊﹊╰────────────⏜⏝⏜⏝⏜⏝⏜────────────╯﹊﹊﹊﹊﹊﹊﹊﹊﹊﹊﹊﹊▓
▓     The Item is used by the Main Menu, dropmenus, context menus, and more.
▓                 ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
▓ ❖ DOM STRUCTURE ❖
▓  1️⃣ MENU WRAPPER {.menu-wrap|.submenu-wrap}  ⮚ Menu/submenu wrapper containing menu items.
▓     2️⃣ Menu Item {.menu-item > svg}           ⮚ Menu item containing an SVG image.
▓        3️⃣ Fill Mask {defs > mask}              ⮚ Mask for gradient fill. Overlays a single gradient over menu item contents.
▓           4️⃣ Icon {.Item__Icon}
▓           4️⃣ Title {.Item__Title}
▓        3️⃣ Icon Image {image.Item__Icon}         ⮚ When using an image as icon instead of icon font.
▓        3️⃣ Gradient Fill {.Item__Fill}           ⮚ Shown on hover. Fill layer for mask.
▓        3️⃣ Icon {text.Item__Icon}                ⮚ Font icon (ie FontAwesome).
▓        3️⃣ Title {.Item__Title}                  ⮚ Item title.
▓     2️⃣ Menu Item...
▓                                    */

/*
█
▓█═─────══─────═🙦   MENU WRAPPER   🙤═─────══─────═❖
▓                                                                           */
/* .menu-wrap,
.submenu-wrap,
.-shadow {
  filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.78));
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.28);
  padding: 12px 0;
  background: var(--IUP-Color-BG);
} */

.submenu-wrap {
  display: none;
  position: absolute;
  top: -10px;
  left: 100%;
  /* width: min-content; */
}
.-overflow-right {
  left: unset;
  right: 100%;
}

.menu-item:hover .submenu-wrap {
  display: inline-block;
}

/*
█
▓█═─────══─────═🙦   MENU ITEM   🙤═─────══─────═❖
▓                                                                           */
.menu-item {
  --item-size: 13px;
  --item-pad-title: 17px;
  --item-pad-icon: 27px;
  --item-y-offset: 54%;
  --item-expand: 20px;
  position: relative;
  height: calc(var(--item-size) * 2);

  border: 1px rgba(0, 0, 0, 0) solid;
  border-width: 1px 0;
  outline-width: 0;
  outline-color: rgba(var(--IUP-Color-FG), 0);
  outline-style: solid;

  background: rgba(var(--IUP-Color-FG), 0);
  user-select: none;
  /* transition: background var(--iup-trans-dbl) ease-out,
    outline-width var(--iup-trans-dbl) ease-out,
    outline-color var(--iup-trans-dbl) ease-out; */
}
.UI-XS .menu-item {
  --item-size: 11px;
}
.UI-SM .menu-item {
  --item-size: 11px;
}
.UI-MD .menu-item {
  --item-size: 12.5px;
}
.UI-LG .menu-item {
  --item-size: 14px;
}

.Item__SVG {
  /* --svg-width-full: calc(
    calc(var(--svg-width) + var(--item-pad-title)) + var(--item-pad-icon)
  ); */
  z-index: 1;
  width: var(--svg-width);
  min-width: var(--svg-width-min);
  max-width: var(--svg-width-max);
  height: 100%;

  background: inherit;
  transition: transform var(--iup-trans-dbl) ease-out;
}

.-no-icons > .menu-item.-no-icon {
  --item-pad-title: 0px;
}

/*
█
▓█═─────══─────═🙦   TITLE & ICON   🙤═─────══─────═❖
▓                                                                           */
.Item__Title,
.Item__Icon {
  alignment-baseline: middle;
  dominant-baseline: middle;
  font-size: var(--item-size);
  font-weight: 300;
}
.Item__Content > .Item__Title,
.Item__SVG > .Item__Icon {
  fill: var(--IUP-Color-FG);
}

.Item__Title {
  --Item__Title-x: calc(var(--item-pad-title) + var(--item-pad-icon));
  transform: translate(var(--Item__Title-x), var(--item-y-offset));
}

.Item__Icon {
  --icon-y: var(--item-y-offset);
  transform: translate(var(--icon-x), var(--icon-y));
}

.Item__Icon.-hitbox {
  fill: transparent;
}

.Item__Icon.-text {
  font-family: var(--iup-font-fa);
  text-anchor: end;
}
.Item__Icon.-image {
  --icon-x: calc(var(--item-pad-icon) - calc(var(--item-size) / 2));
  --icon-y: 7px;
  width: var(--item-size);
}

.Item__Icon.-text.-pos0 {
  --icon-x: var(--item-pad-icon);
  text-anchor: middle;
}

.Item__Icon.-text.-pos1 {
  --icon-x: 91%;
  text-anchor: middle;
  font-size: 12px;
}

.Item__Icon.-animate-spin {
  --item-y-offset: 48% !important;
  animation-name: -animate-spin;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.Item__Icon.-animate-flash {
  animation-name: -animate-flash;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}
@keyframes -animate-spin {
  from {
    transform: translate(var(--icon-x), var(--icon-y)) rotate(0deg);
  }
  to {
    transform: translate(var(--icon-x), var(--icon-y)) rotate(360deg);
  }
}
@keyframes -animate-flash {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.08;
  }
}

/*



█
▓█⌇𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙⌇█═⟅ ∽ HOVER ITEM ∼ ⟆═█⌇𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙⌇█
▓                ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
▓  ◇ Apply mask to gradient fill node.
▓  ◇ Show fill node & hide default nodes.
▓                                                                                */
.menu-item:hover:not(.-is-disabled) {
  cursor: pointer;
}
.menu-item:hover:not(.-is-disabled):not(.-no-hover),
.menu-item.-inputActive {
  border-color: var(--IUP-Color-FG);
  outline-width: 3px;
  outline-color: rgba(var(--iup-color-t), 1);

  background: rgba(var(--iup-color-t), 1);
  cursor: pointer;
}
.Item__Mask > * {
  fill: #fff;
}
.Item__Mask > .Item__Title {
  /* font-weight: 400; */
}
.Item__Mask > .Item__Icon {
  font-weight: 900;
}
.menu-item:hover:not(.-is-disabled):not(.-no-hover)
  > .Item__SVG
  > .Item__Content {
  visibility: hidden;
}

.Item__DropmenuBox {
  fill: transparent;
}

.menu-item:not(.-is-disabled):not(.-no-hover)
  > .Item__SVG
  > .Item__Icon.-iconPos1 {
  transform: translateX(0);
  transition: transform var(--iup-trans-dbl) ease-out;
}
.menu-item:hover:not(.-is-disabled):not(.-no-hover)
  > .Item__SVG
  > .Item__Icon.-iconPos1 {
  transform: translateX(9px);
}

.menu-item.-no-hover > .Item__SVG > .Item__Icon.-contentBtn {
  font-weight: 400;
}

/*
█ ❖ ITEM FILL (__Fill)                                                                    */
.menu-item > .Item__SVG > .Item__Fill {
  width: 100%;
  fill: var(--IUP-Color-FG);
  /* height: 80%; */
  /* transform: translate(0, 10%); */
}
.menu-item:not(.-is-disabled):not(.-no-hover) > .Item__SVG > .Item__Fill {
  fill: #0f0;
  /* fill: var(--IUP-Color-BG); */
  /* fill: url(#iuGR-gold); */
  opacity: 0;
}
.menu-item.-no-hover > .Item__SVG > .Item__Fill {
  /* fill: var(--iup-color-fg); */
  opacity: 0;
}
.menu-item:hover:not(.-is-disabled):not(.-no-hover) > .Item__SVG > .Item__Fill {
  opacity: 1;
}

/*



█
▓█⌇𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙⌇█═⟅ ∽ ITEM STATES ∼ ⟆═█⌇𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙⌇█
▓                    Disabled, Hidden, 🚧Warning, Marked.🚧
▓                ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾                                   */
.-is-disabled {
  text-decoration: line-through;
  filter: blur(var(--hide-blur-mid));
  opacity: var(--hide-opacity-mid);
  cursor: initial;
}
.-is-disabled .Item__DropmenuBox:hover {
  fill: var(--iup-color-fg);
  cursor: pointer;
}
.-is-disabled > .Item__SVG > .Item__Fill,
.-is-disabled > .Item__Mask {
  fill: transparent;
  display: none;
}

.-is-hidden {
  display: none;
}

.menu-item.-expanded:hover:not(.-is-disabled) {
  left: calc(var(--item-expand) * -1);
  width: calc(100% + calc(var(--item-expand) * 2));
  transition: left var(--iup-trans-dbl) ease-out,
    width var(--iup-trans-dbl) ease-out;
}

/*



█
▓█⌇𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙⌇█═⟅ ∽ OTHER FEATURES ∼ ⟆═█⌇𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙⌇█
▓                ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
▓  ◇ Input
▓  ◇ Dropmenu
▓                                                                                */

/*

█ ❖ INPUT ⬥ INNER                                                                   */
.Item__Input.-inner {
  position: absolute !important;
  top: 0;
  left: 0;

  width: 0;
  /* height: 84%; */

  background: var(--IUP-Color-BG);
  overflow: hidden;
  transition: width var(--iup-trans) var(--iup-trans-type);
}
.menu-item.-inputActive > .Item__SVG {
  visibility: hidden;
}
.menu-item.-inputActive > .Item__Input.-inner {
  width: 84%;
  overflow: visible;
}

.Item__Input.-inner > .iuInput {
  --InputText-width: 100%;
  width: 100%;
}

.Item__Input.-inner .InputText__text {
  border: 0;
  outline: 0;
}

/*

█ ❖ INPUT ⬥ OUTER                                                                   */
.Item__Input.-outer {
  position: absolute !important;
  top: -3px;
  right: -180px;
  z-index: -1;

  width: 180px;
  height: calc(var(--item-size) * 2);
  padding: 3px 0;
  overflow: hidden;
}

.Item__Input.-outer > .iuInput {
  position: absolute;
  left: -100%;
  border: 12px #fff solid;
  background: #fff;
  transition: left var(--iup-trans-dbl) ease-out;
}

.menu-item:hover > .Item__Input.-outer .iuInput {
  left: 0;
}

/*🚧🚧🚧🚧🚧🚧*/
.item__dropmenu,
.Item__DropmenuBox {
  transform: translate(88%, 2px);
}
