body,
html {
  overflow: hidden !important;
}
#body {
  --sm-background-color: #000;
  --sm-object-fit: contain;
  position: fixed !important;
  z-index: 2147483624 !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  background-color: #000 !important;
  /* overflow: scroll; /* background-color: var(--sm-background-color) !important; */
  text-align: center;
  overflow: auto;
  opacity: 1 !important;
  /* transition: opacity 5s; */
}

#body.-is-shown {
  /* opacity: 1 !important; */
}

.iuSM__target {
  z-index: 2147483625 !important;
  display: block;
  margin: auto;

  max-width: initial !important;
  max-height: initial !important;
  /* object-fit: contain !important; */
  object-fit: var(--sm-object-fit) !important;
}

.iuSM__target.-fit-h {
  width: 100%;
}
.iuSM__target.-fit-v {
  height: 100%;
}
.iuSM__target.-fit-both {
  width: 100%;
  height: 100%;
}

video.iuSM__target {
  width: 100%;
  height: 100%;
}
