.metadata-table {
  display: grid;
  grid-template-columns: 1fr 4fr;
  border-bottom: 1px #000 solid;
  font-size: 12px;
}
/* meta item labels */
.metadata-table .item-label {
  padding: 8px;
  background-color: #000;

  color: #fff;
  font: var(--iup-font-cond);
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: lowercase;
  text-align: right;
  text-transform: capitalize;
  user-select: none;
}

.metadata-table .cell {
  border: 1px #000 solid;
  border-width: 1px 1px 0 1px;
  padding: 8px;
  word-break: break-word;
}

.metadata-table .cell img {
  display: block;
  max-height: 64px;
}

.metadata-table .colorBlock {
  width: 12px;
  height: 12px;
  margin: 3px;
}

.metadata-table .sub-cell {
  align-self: center;
  justify-self: center;
}

/* attribute grid (for multiple nodes)*/
.metadata-table .attr-grid {
  display: grid;
  gap: 4px;
}
/* attribute labels */
.metadata-table .attr-label {
  text-transform: uppercase;
}
.metadata-table .advanced {
  opacity: 0;
  padding: 0;
  border: 0;
  height: 0;
}
