body {
  --color-theme: #3f9ee4;
  background: #ecf1f0;
  height: 100vh;
}

#container {
  width: 900px;
  height: -webkit-fill-available;
  margin: auto;
  padding: 64px 13px;
  background: #fff;
}

h4.prop {
  font-size: 26px;
  margin: 0 120px 4px;
  text-align: left;
}

#wrap-video {
  padding: 4px 120px;
  background-color: #000;
  border-radius: 3px;
  text-align: center;
}

#wrap-bar {
  margin: 12px 120px;
  display: flex;
  place-items: start center;
  justify-content: space-between;
}
#wrap-bar .profile-photo {
  display: inline-block;
  width: 46px;
  height: 46px;
  background: red;
  border-radius: 100%;
  background-image: url("assets/photo.jpg");
  background-size: 42px;
  margin-right: 12px;
}
#wrap-bar .info {
  margin-left: 24px;
}
#wrap-bar .info div {
  margin-top: 6px;
  font-size: 19px;
}

#wrap-bar .user {
  font-size: 16px;
}
#wrap-bar .user div {
  display: inline-block;
  margin-top: 4px;
  padding: 3px 8px;
  background-color: var(--color-theme);
  font-size: 12px;
  color: #fff;
  border-radius: 10px;
}

#wrap-bar .space {
  flex-grow: 2;
}

#wrap-bar .social {
  text-align: right;
}
#wrap-bar .social div {
  margin: 0 -3px 6px 0;
  color: var(--color-theme);
  font-family: "Social Networking Icons Minimal";
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 2px;
}

.Player {
  width: 340px;
  height: 360px;
}

.Player__timeline {
  width: 100%;
  height: 10px;
  background: red;
}
