/*
ⸯ                       ༿───────────═🙦 🎕 🙤═───────────᠎༾
█⌇𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙⌇█     🙢  STAGE PROP STYLE  🙠   █⌇𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙⌇█
▓﹊﹊﹊﹊﹊﹊﹊﹊﹊﹊﹊﹊╰────────────⏜⏝⏜⏝⏜⏝⏜────────────╯﹊﹊﹊﹊﹊﹊﹊﹊﹊﹊﹊﹊▓
▓ ❖ DESC ❖
▓   ◇ Style for a webtool preview's (stage) props.
▓                                                                               */
:root {
  font-family: "Helvetica Now";
}

#body {
  --green: #148e07;
  --red: #8e0707;
  --blue: #004fa2;
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 256px 124px;
  box-sizing: border-box;
  background: #fff;
}
#body > div:first-child {
  margin: auto;
}
/*

█
▓⌇𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙⌇█═⟅ ∽ TITLES ∼ ⟆═█⌇𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙⌇█
▓                 ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾                                   */
h2 {
  padding-top: 16px;
}

/* TITLE */
h3.prop {
  text-align: center;
  font-weight: 600;
  font-size: 48px;
}

/*

█
▓⌇𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙⌇█═⟅ ∽ WRAPPER ∼ ⟆═█⌇𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙⌇█
▓                 ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾                                   */
.wrap-box {
  position: relative;
  width: 580px;
  margin: 96px 0;
  border-radius: 2px;
  padding: 28px 72px 120px;
  background: var(--iup-color-bg);
}

.footer {
  padding-top: 32px;
  text-align: right;
}

/*

█
▓⌇𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙⌇█═⟅ ∽ INPUT ∼ ⟆═█⌇𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙⌇█
▓                 ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾                                   */
input[type="text"],
input[type="password"] {
  width: 220px;
  height: 32px;
  padding: 7px 8px;
  border: 0;
  border: 1px #676767 solid;
  border-radius: 4px;
  box-sizing: border-box;
}

input:focus {
  outline: 0;
  box-shadow: 0 0 2px 1px var(--blue);
}

button {
  height: 32px;
  width: 96px;
}

/*

█
▓⌇𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙⌇█═⟅ ∽ PROP STYLE ∼ ⟆═█⌇𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙𝄙⌇█
▓                 ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾                                   */
.prop {
  font-size: 13px;
  opacity: 0.66;
  filter: blur(2px);
  pointer-events: none;
  user-select: none;
  transition: opacity var(--iup-trans) filter var(--iup-trans);
}

input.prop {
  /* height: 18px; */
  background: var(--iup-color-bg);
  user-select: none;
}

button.prop {
  background: var(--blue);
  color: var(--iup-color-bg);
  border: 0;
}
